<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Data</title>
</head>
<body>
    <h1>Time</h1>

    <form method="post">
        <label for="exercise">How much exercise do you get? (0 - 12hr)</label><br>
        <input type="number" id="exercise" name="exercise" min="0" max="12" step=0.01 required><br>

        <label for="homework">How long do you spend doing homework? (0 - 12hr)</label><br>
        <input type="number" id="homework" name="homework" min="0" max="12" step=0.01 required><br>

        <label for="sleep">How much time do you sleep? (0 - 12hr)</label><br>
        <input type="number" id="sleep" name="sleep" min="0" max="12" step=0.01 required><br>

        <label for="phone">How long are you on your phone? (0 - 12hr)</label><br>
        <input type="number" id="phone" name="phone" min="0" max="12" step=0.01 required><br>

        <label for="family">How much time do you spend with the family? (0 - 12hr)</label><br>
        <input type="number" id="family" name="family" min="0" max="12" step=0.01 required><br>

        <label for="school">How long is your commute to school? (0 - 12hr)</label><br>
        <input type="number" id="school" name="school" min="0" max="12" step=0.01 required><br>

        <input type="submit" value="Submit">
      </form>

</body>
</html>