body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login {
    width: 360px;
    background-color: white;
    margin: 100px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
}

.login h1 {
    text-align: center;
    margin-bottom: 40px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label, .login input[type="text"], .login input[type="password"] {
    margin-bottom: 20px;
}

.login label {
    color: #999;
    font-size: 20px;
}

.login input[type="text"], .login input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;
}

.login i {
    margin-right: 10px;
    color: #999;
}

.login input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #3e8e41;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 100px 0;
    padding: 0;
}

li {
    margin: 0 20px;
}

a {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    background-color: #3e8e41;
}
